<!DOCTYPE html>
<html>
	<head>
		<title>Autonomous Water Rover</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
		<header id="main-header" >
			<div class="container">
				<h1>Winners of Design Contest at EMBEDDED VLSID 2018 !</h1>
			</div> 
		</header>
		<nav id="navbar">
			<div class="container">
				<ul>
					<li> <a href="home.html">Home</a></li>
					<li> <a href="remote.html">Remote</a></li>
					 <li> <a href="map.html">Track</a></li>
					<li> <a href="video.html">Video</a></li>
					<li> <a href="sensor.html">Sensors</a></li>
					<li> <a href="award.html">Awards</a></li>
					
				</ul>
			</div>
		</nav>
		<div id="award"></div>
			<div class="container">
				<div id="wrapper">
					<section id="main">
						<h1>About Design Contest</h1>
						<p>The Design Contest aims to foster innovation, practical problem solving skills amongst students, researchers and professionals in the field of “VLSI and Embedded Systems”. The problems can be from real-world such as in the automobile, medical, industrial, consumer or any other industries.The design contest is open to all professionals, university and college students studying B.Tech./B.E. /M.Tech./M.E./M.S./Ph.D. in the areas of Microelectronics, Electronics and Telecommunication, Computer Science and Embedded Systems. <a href="http://embeddedandvlsidesignconference.org/design-contest/"  target="_blank">Read More</a></p>
					</section>
					
				</div>
			</div>
<footer id="main-footer">
			<h6>Copyright &copy;2018 Sheru --> An Autonomous Water Rover </h6>
		</footer>
</body>
</html>
