<!DOCTYPE html>
<html>
    <head>
        <title>Autonomous Water Rover</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <header id="main-header" >
            <div class="container">
                <center><h1>Live Video Feed</h1></center>
            </div> 
        </header>
        <nav id="navbar">
            <div class="container">
                <ul>
                    <li> <a href="home.html">Home</a></li>
                    <li> <a href="remote.html">Remote</a></li>
		    <li> <a href="map.html">Track</a></li>
                    <li> <a href="video.html">Video</a></li>
                    <li> <a href="sensor.html">Sensors</a></li>
                    <li> <a href="award.html">Awards</a></li>
                </ul>
            </div>
        </nav>
	<br>
        <div id="video1"></div>          
	<footer id="main-footer">
			<h6>Copyright &copy;2018 Sheru --> An Autonomous Water Rover </h6>
		</footer>

    </body>
</html>
