<!DOCTYPE html>
<html>
	<head>
		<title>Autonomous Water Rover</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
		<header id="main-header" >
			<div class="container">
				<h1>Autonomous Water Rover</h1>
			</div> 
		</header>
		<nav id="navbar">
			<div class="container">
				<ul>
					<li> <a href="home.html">Home</a></li>
					<li> <a href="remote.html">Remote</a></li>
					 <li> <a href="map.html">Track</a></li>
					<li> <a href="video.html">Video</a></li>
					<li> <a href="sensor.html">Sensors</a></li>
					<li> <a href="award.html">Awards</a></li>
				
				</ul>
			</div>
		</nav>

		<section id="showcase">
			<div class="container">
				<br><br><br>
				<h1> <strong>Monitoring Water Bodies Made Easy</strong> </h1> 
			</div>
		</section>
		<div class="container">
			<div id="wrapper">
			<section id="main">
				<h1>About</h1>
				<p>The Autonomous Water Rover will monitor a water body by traversing the water body as per the mode specified. It has sensors like pH, temperature, turbidity, rainfall detection and wirless depth finder which give us real time data on the web, about the different parameters of the water body. The sonar transducer can be used to provide depth information up to 40 meters, information regarding the fish in the water and the water bed. The depth information of a water body can be used by ports, dredging companies and hydrographic offices. Live video stream, remote access and sensor data will also be available on the website.</p>
			</section>
			
		</div>
		</div>
		<footer id="main-footer">
			<h6>Copyright &copy;2018 Sheru --> An Autonomous Water Rover </h6>
		</footer>
	</body>
</html>
